
body{
    margin: 3rem 10rem 3rem 10rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    
}


.image-text { 
    font-size: 5rem;
    text-align: center;
 background-image: url(https://img.freepik.com/free-photo/vivid-blurred-colorful-wallpaper-background_58702-3308.jpg?w=1060&t=st=1680631126~exp=1680631726~hmac=36f5c4419829496fb83e71dbb37bcf7c02eb28e5841ee45e70554f52537a2d89);
    background-size:cover;
    background-clip:text;
    -webkit-background-clip: text;
    color: transparent;
    

   
}

div{
    color: hsl(271, 100%, 51%);
    size: 50px;
    margin: 3rem;
    
}

.input {
    color: #8707ff;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px 10px 25px;
    background: transparent;
    max-width: 190px;
   }
   
   
   .input:focus {
       color: rgba(187, 30, 255, 0.982);
       background-color: #212121;
       outline-color: #CC00FF;
       box-shadow: -3px -3px 15px #CC00FF;
       transition: .1s;
       transition-property: box-shadow;
    }
    
    .input:active {
     box-shadow: 2px 2px 15px #8707ff inset;
    }

   button {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    width: 20rem;
    height: 4.5rem;

   }
   
   button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }

   div.container{
    margin-top: 5rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 80%;
   }

.resultado{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#420056;
    text-align: center;
    font-size: 5rem;
}

#spanId{
    background-image: url(https://i.pinimg.com/originals/b1/3e/c4/b13ec46eaa4d918f4c3496330e589477.gif);
    background-size:cover;
    background-clip:text;
    -webkit-background-clip: text;
    color: transparent;
}

